*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-color: black; */
  font-family: Arial, Helvetica, sans-serif;
  
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form{
  /* background-color: #f5f5f5; */
  padding: 5px;
  width: 420px;
  text-align: center;
  
}

form:hover{
  transition: 2s;
  box-shadow: 0 0 20px;
}

form h2{
  font-size: 25px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.input-container{
  position: relative;
  /* background-color: blue; */
}

.input-container > i{
  background: linear-gradient(
      90deg,
      rgba(153, 26, 123, 1) 0%,
      rgba(117, 30, 156, 1) 50%
    );
  padding: 14px;
  border-radius: 50%;
    color: white;
    position: absolute;
    top: 4px;
    left: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container > input {
  padding: 17px 15px 17px 65px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #cbcbcb;
  font-size: 16px;
  outline: none;
  color: #1e1e1e;
}

::placeholder{
  color: #a0a0a0;
  font-size: 16px;

}

form a{
  display: block;
  color: #a0a0a0;
  text-decoration: none;
  margin-bottom: 25%;
}

.btn{
  background: linear-gradient(
      90deg,
      rgba(153, 26, 123, 1) 0%,
      rgba(117, 30, 156, 1) 50%
    );
  padding: 15px 80px;
  box-shadow: 0 0 20px  rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  color: #fcfef7;
  font-size: 15px;
}